.container {
  margin: auto;
  max-width: 600px;
}

.done {
  text-decoration: line-through;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
 .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  width: 100%;
  padding: 15px;
  margin-top: 15px;
 }

 .off {
  width: 40px;
  height: 40px;
 }

 .on {
  width: 40px;
  height: 40px;
 }

.trash{
  width: 40px;
  height: 40px;
}

.card{
  box-shadow: 0 2px 7px 1px rgb(0, 0, 0, 0.2);
}
